.PreHomeSaveMoney {
    position: fixed;
    background: url('./../../../assets/images/money.webp') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.PreHomeSaveMoneyLogo {
    width: 100%;
    text-align: right;
    padding: 2rem 4rem;
}

.PreHomeSaveMoneyLogo img {
    background: white;
    padding: 20px;
    width: 250px;
}

.PreHomeSaveMoneyText {
    color: white;
    font-size: 35px;
    font-family: 'Cabin Sketch', cursive;
    text-align: right;
    padding-right: 4rem;
}

.PreHomeSaveMoneyText p {
    margin: 0;
}

.PreHomeSaveMoneyEntry {
    text-align: right;
    padding-right: 4rem;
    font-family: 'SprayPaint';
    font-size: 30px;
    text-shadow: 0px 1px 1px #fff;
}

.PreHomeSaveMoneyEntry a {
    color: #000;
}

.PreHomeSaveMoneyEntry a:hover {
    text-decoration: none;
    color: #000;
}

@media only screen and (max-width: 768px) {
    .PreHomeSaveMoneyLogo {
        text-align: center;
    }
    .PreHomeSaveMoneyText {
        padding-right: 0;
        text-align: center;
    }
    .PreHomeSaveMoneyEntry {
        padding-right: 0;
        text-align: center;
    }
}