.PreHomeFreeEnergy {
    position: fixed;
    height: 100%;
    width: 100%;
}

.PreHomeFreeEnergy img {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
}

.PreHomeFreeEnergyLogoText {
    font-family: 'Cabin Sketch', cursive;
    font-size: 30px;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    text-align: center;
    padding-top: 115px;
}

.PreHomeFreeEnergyLogoEntry {
    font-family: 'SprayPaint';
    font-size: 30px;
    text-align: center;
    text-shadow: 0px 1px 1px #fff;
}

.PreHomeFreeEnergyLogoEntry a {
    color: #000;
}

.PreHomeFreeEnergyLogoEntry a:hover {
    color: #000;
    text-decoration: none;
}

.PreHomeFreeEnergyBg {
    background: url("./../../../assets/images/free.webp");
    background-repeat: no-repeat;
    background-size: cover;
}