.PreHomeOption {
    position: fixed;
    background: url('./../../../assets/images/renovable.webp') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.PreHomeOptionBody {
    max-width: 600px;
    width: 100%;
    margin: auto;
    background: #00000044;
    height: 100%;
}

.PreHomeOptionLogo {
    text-align: center;
    padding: 50px;
}

.PreHomeOptionLogo img {
    background: white;
    padding: 20px;
    width: 250px;
}

.PreHomeOptionText {
    font-family: 'Cabin Sketch', cursive;
    font-size: 30px;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    text-align: center;
}

.PreHomeOption p {
    margin: 0;
}

.PreHomeOptionLink {
    font-family: 'SprayPaint';
    font-size: 30px;
    color: #000;
    text-align: center;
    text-shadow: 0px 1px 1px #fff;
}

.PreHomeOptionLink:hover {
    text-decoration: none;
    color: #000;
}