.AlertCookies {
    position: fixed;
    bottom: 2rem;
    z-index: 20;
    width: 40%;
    left: 2rem;
    background: #e94f51;
    color: #fff;
    padding: 1.5rem;
    border-radius: 25px;
}

@media only screen and (max-width: 768px) {
    .AlertCookies {
        left: 10%;
        width: 80%;
    }
}