.AlertCookies {
    position: fixed;
    bottom: 2rem;
    z-index: 20;
    width: 40%;
    left: 2rem;
    background: #2f8518;
    color: #fff;
    padding: 1.5rem;
}

.AlertCookies button {
    border-radius: 0;
}

@media only screen and (max-width: 768px) {
    .AlertCookies {
        left: 5%;
        width: 90%;
    }
}