.Home {
    padding-top: 100px;
    width: 100%;
    /* background: url('./../../assets/images/OIH9JD0.jpg'); */
    /* background-size: 100%; */
    /* background-repeat: no-repeat; */
}

.Home .HomeSubcontainer {
    background: #fff;
    margin: 25rem 0 0 0;
}

@media only screen and (max-width: 992px) {
    .Home .HomeSubcontainer {
        background: #fff;
        margin: 22rem 0 0 0;
    }
}

@media only screen and (max-width: 768px) {
    .Home .HomeSubcontainer {
        background: #fff;
        margin: 16rem 0 0 0;
    }
}

.Home .container-fluid {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}

.HomeBg0 {
    position: absolute;
    background: url('./../../assets/images/OIH9JD0.jpg');
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.HomeBg1 {
    position: absolute;
    background: url('./../../assets/images/4282.jpg');
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    left: 100%;
}

.HomeBg2 {
    position: absolute;
    background: url('./../../assets/images/renovable.jpg');
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    left: 200%;
}

.HomeBg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -100;
    top: 0;
    right: 0;
    min-height: 500px;
    transition: all 0.6s ease, border 0.2s ease;
}

.BgImage0 {
    right: 0;
}

.BgImage1 {
    right: 100%;
}

.BgImage2 {
    right: 200%;
}

.HomeSlideContainer {
    margin: 6.5rem;
}

.HomePhrase {
    font-size: 4rem;
    text-align: right;
    margin: 0;
    color: #73c82c;
    text-shadow: 2px 2px 0 #222;
}

ul.HomeCheckList {
    list-style-type: none;
}

.HomeCheckList li {
    line-height: 40px;
}

.HomeCheckList li .fa-check {
    color: #555;
    font-size: 25px;
    padding-right: 5px
}