.HomeSlide {
    background-image: url("./../../assets/images/OIH9JD02.jpg");
    height: 620px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
}

.HomeSlideBody {
    padding-top: 110px;
}

@media only screen and (max-width: 768px) {
    .HomeSlide {
        background-attachment: scroll;
    }
}