.LogoPreHome {
    margin: 3rem;
    float: right;
    text-align: center;
    padding: 20px;
}

.LogoPreHome img {
    width: 200px;
}

.LogoPreHomeText {
    font-size: 25px;
    color: #222;
    line-height: 50px;
    font-family: 'SprayPaint';
}

.LogoPreHomeEntry:hover {
    text-decoration: none!important;
}