h1, h2, h3, h4, h5 {
    font-family: 'SprayPaint';
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

span.required {
    color: red;
    margin-right: 2px
}

.formInputError {
    border: 1px solid #f32e31!important;
}